<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- 콘솔 로그 패턴 설정 (타임존을 Asia/Seoul로 고정) -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Local 프로필: 상세 로그 출력 (Debug 레벨 등) -->
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="com.bnz" level="DEBUG" />
        <logger name="org.mybatis" level="DEBUG" />
        <logger name="org.apache.ibatis" level="DEBUG" />
        <logger name="jdbc.sqlonly" level="DEBUG" />
    </springProfile>

    <!-- Prod 프로필: 운영 환경에 최적화된 로그 수준 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="com.bnz" level="DEBUG" /> <!-- 운영에서도 우리 비즈니스 로직은 일단 DEBUG로 유지 -->
    </springProfile>

</configuration>
